<div class="hero">
  <div class="logo">
    <img src=" " alt />
    <div class="title-container">
      <h1 class="title">
          <span>T</span><span>r</span><span>i</span><span>b</span><span>e</span>
          <span>T</span><span>a</span><span>l</span><span>e</span><span>s</span>
      </h1>
  </div>
  <div class="firefly-container">
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
    <div class="firefly"></div>
</div>

  
  </div>
  <div class="layer-6 parallax-layer"></div>
  <div class="layer-5 parallax-layer"></div>
  <div class="layer-4 parallax-layer"></div>
  <div class="car-1 parallax-layer"></div>
  <div class="car-2 parallax-layer"></div>
  <div class="layer-3 parallax-layer"></div>
  <div class="layer-2 parallax-layer"></div>
  <div class="layer-1 parallax-layer"></div>
</div>



<div class="gap-6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-4 w-full">
  <div class="flip-card">
    <div class="flip-card-inner">
      <!-- ด้านหน้า -->
      <div class="flip-card-front">
        <mat-card class="example-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title>✨ Guess Genre </mat-card-title>
          </mat-card-header>
          <img mat-card-image [src] ="cardpic1.pic" alt="Photo of Action">
          <mat-card-content>
            <p>
              A former elite soldier must rescue hostages in enemy territory. Every step is filled with explosions and intense combat.
              He must overcome all obstacles to survive and protect the innocent.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
  
      <!-- ด้านหลัง -->
      <div class="flip-card-back">
        <mat-card class="example-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title> Action </mat-card-title>
          </mat-card-header>
          <img mat-card-image [src] ="cardpic1.pic" alt="Photo of Action">
        </mat-card>
      </div>
    </div>
  </div>

  <div class="flip-card">
    <div class="flip-card-inner">
      <!-- ด้านหน้า -->
      <div class="flip-card-front">
        <mat-card class="example-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title>✨ Guess Genre </mat-card-title>
          </mat-card-header>
          <img mat-card-image [src] ="cardpic2.pic" alt="Photo of Adventure">
          <mat-card-content>
            <p>
              A group of friends embarks on a journey to find treasure in a mysterious land. They encounter dense jungles, and
              mythical creatures no one has ever seen before. 
            </p>
          </mat-card-content>
        </mat-card>
      </div>
  
      <!-- ด้านหลัง -->
      <div class="flip-card-back">
        <mat-card class="example-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title> Adventure </mat-card-title>
          </mat-card-header>
          <img mat-card-image [src] ="cardpic2.pic" alt="Photo of Adventure">
        </mat-card>
      </div>
    </div>
  </div>

  <div class="flip-card">
    <div class="flip-card-inner">
      <!-- ด้านหน้า -->
      <div class="flip-card-front">
        <mat-card class="example-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title>✨ Guess Genre </mat-card-title>
          </mat-card-header>
          <img mat-card-image [src] ="cardpic3.pic" alt="Photo of Comedy">
          <mat-card-content>
            <p>
              In a world of magic and mythical creatures, a young boy discovers he has wizard blood. He joins a group of warriors to
              defend the kingdom from an impending darkness.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
  
      <!-- ด้านหลัง -->
      <div class="flip-card-back">
        <mat-card class="example-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title> Fantasy </mat-card-title>
          </mat-card-header>
          <img mat-card-image [src] ="cardpic3.pic" alt="Photo of Comedy">
        </mat-card>
      </div>
    </div>
  </div>

  <div class="flip-card">
    <div class="flip-card-inner">
      <!-- ด้านหน้า -->
      <div class="flip-card-front">
        <mat-card class="example-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title>✨ Guess Genre </mat-card-title>
          </mat-card-header>
          <img mat-card-image [src] ="cardpic4.pic" alt="Photo of Romance">
          <mat-card-content>
            <p>
              Two strangers meet by chance while traveling abroad. Amidst mountains and seas, love blooms between them, but as their
              feelings deepen, challenges to keep their relationship alive begin to arise.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
  
      <!-- ด้านหลัง -->
      <div class="flip-card-back">
        <mat-card class="example-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title> Romance </mat-card-title>
          </mat-card-header>
          <img mat-card-image [src] ="cardpic4.pic" alt="Photo of Romance">
        </mat-card>
      </div>
  </div>
</div>

