body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(
      135deg,
      rgba(255, 117, 140, 0.6),
      rgba(255, 126, 179, 0.6),
      rgba(199, 135, 232, 0.6),
      rgba(143, 72, 230, 0.6)
    ),
    url('../pic/city.jpg');
  background-size: cover;
  background-position: center center;
  color: #fff;
  padding-top: 100px;
  animation: bodyGradientAnimation 10s ease infinite,
    backgroundMove 15s ease-in-out infinite;
}

@keyframes bodyGradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes backgroundMove {
  0% {
    background-position: center;
  }
  100% {
    background-position: 100% 0%;
  }
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: rgba(39, 39, 39, 0.8);
  padding: 10px 20px;
  z-index: 1000;
}

.nav-menu {
  list-style: none;
  display: flex;
}

.nav-menu .link {
  text-decoration: none;
  color: #fff;
  margin: 0 15px;
}

.main-container {
  padding: 20px;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: transparent;
  background: linear-gradient(90deg, #ff00b3, #33ff00, #e01717, #ffee00);
  background-size: 400%;
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  animation: rainbow 15s linear infinite;
  transition: all 0.3s ease;
}

.section-title:hover {
  transform: scale(1.05);
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
}

@keyframes rainbow {
  0% {
    background-position: 0%;
  }
  25% {
    background-position: 100%;
  }
  50% {
    background-position: 200%;
  }
  75% {
    background-position: 300%;
  }
  100% {
    background-position: 400%;
  }
}

.categories {
  margin-bottom: 30px;
}

.category-btn {
  background: #3a3a3a;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  margin: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.category-btn:hover {
  background: #555;
}

.story-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.story-card {
  display: flex;
  background: rgba(255, 255, 255, 0.356);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.story-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.story-image {
  flex: 1;
  background-size: cover;
  background-position: center;
}

.story-info {
  flex: 1.5;
  padding: 20px;
}

.story-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: transparent;
  background: linear-gradient(to right, #0f0f0f, #5e2975, #3498db);
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
}

.story-title:hover {
  color: #f39c12;
  transform: scale(1.1);
  text-shadow: 2px 2px 15px rgb(100, 98, 98);
}

.story-creator {
  font-size: 0.9rem;
  color: #f7f4f4;
  margin-bottom: 15px;
}

.story-stats .likes i,
.story-stats .comments i {
  color: #000000;
  margin-right: 5px;
}

.story-stats span {
  font-size: 14px;
  color: #000000;
}

.btn {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.read-collab-btn {
  background: linear-gradient(135deg, #ffc700, #ff9800);
  color: #fff;
  border: none;
  transition: background 0.3s ease;
}

.read-collab-btn:hover {
  background: linear-gradient(135deg, #ff9800, #ffc700);
}
